#wrapper {
    width: 100%;
    margin: 0 auto;
}
#wrapper a {
    text-align: center;
}
#container {
    font-size: 16px;
    width: 300px;
    margin: 90px auto 0;
    text-align: center;
    backdrop-filter: blur(50px);
    background-color: rgba(36, 36, 36, 0.5);
    border-radius: 5px;
    padding-bottom: 8px;
    padding-top: 20px;
}
#container h1 {
    color: #276d8c;
    margin-bottom: 20px;
}
#puzzle {
    height: 244px;
    width: 244px;
    position: relative;
    margin: 10px auto 25px auto;
    display: none;
    border-radius: 8px;
}

#puzzle .cell-puzzle {
    width: 58px;
    height: 58px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 26px;
    line-height: 60px;
    background-color: #3b7c9c;
    z-index: 100;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}
#puzzle .cell-puzzle-zero {
    background: #7e7e7e;
    z-index: 50;
}
#puzzle > .row-1 {
    top: 0;
}
#puzzle > .row-2 {
    top: 60px;
}
#puzzle > .row-3 {
    top: 120px;
}
#puzzle > .row-4 {
    top: 180px;
}
#puzzle > .col-1 {
    left: 0;
}
#puzzle > .col-2 {
    left: 60px;
}
#puzzle > .col-3 {
    left: 120px;
}
#puzzle > .col-4 {
    left: 180px;
}

#play {
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    background: #3b7c9c;
    border-radius: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

#play:hover {
    transform: scale(0.96);
}

#alert_puzzle {
    font-size: 16px;
    color: coral;
    margin-bottom: 10px;
}

.gameStart .start {
    display: none;
}

.gameStart #puzzle {
    display: block;
}

#board-time {
    font-size: 50px;
    margin-top: 10px;
    font-weight: bolder;
    color: #3b7c9c;
}